:root {
	--color-blue: #00bbf9;
	--color-cyan: #00f5d4;
	--color-grey: #1b212c;
	--color-magenta: #f15bb5;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	background: var(--color-grey);
	color: black;
	font-family: "Lato", sans-serif;
	font-size: 11pt;
	margin: 0;
	padding: 0;
}

footer {
	color: white;
	font-size: 8pt;
	margin: 2em 0;
	text-align: center;
}

footer a {
	font-weight: bold;
}

footer em {
	color: var(--color-magenta);
	margin: 0 0.25em;
}

h2 {
	color: white;
	font-family: "Montserrat", sans-serif;
	font-size: 28pt;
	font-style: italic;
	text-align: center;
}

h2 a {
	color: var(--color-blue);
}

h2 em {
	color: var(--color-cyan);
}

h3, h4 {
	font-family: "Montserrat", sans-serif;
	font-style: italic;
	margin: 0 0 1em;
}

header {
	background: white;
}

header h1 {
	margin: 0 0 0 0.5em;
}

header h1 em {
	color: var(--color-blue);
}

header nav {
	align-items: center;
	display: flex;
	font-weight: bold;
	position: relative;
}

header nav a {
	display: block;
}

header nav span {
	background: var(--color-magenta);
	clip-path: polygon(70% 0%, 90% 0%, 30% 100%, 10% 100%);
	display: block;
	height: 64px;
	margin: 0 1em;
	width: 34px;
}

header #home-link {
	align-items: center;
	display: flex;
	text-decoration: none;
}

header #logo {
	height: 52px;
	width: 52px;
}

header .container {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

input[type=email],
input[type=text],
textarea {
	background: white;
	border: 0;
	border-radius: 0.5em;
	box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.3);
	font-family: "Lato", sans-serif;
	font-size: 10pt;
	min-width: 3em;
	padding: 1.25em 0.5em;
}

input[type=submit] {
	-webkit-appearance: none;
	background: var(--color-magenta);
	border: 0;
	border-radius: 0.5em;
	box-shadow: 0 3px 0 var(--color-grey);
	color: white;
	font-size: 16pt;
	font-style: italic;
	font-weight: bold;
	padding: 0.5em 1em;
	position: relative;
	text-shadow: 0 2px rgba(0, 0, 0, 0.3);
	top: 0;
}

input[type=submit]:active {
	box-shadow: 0 1px 0 var(--color-grey);
	top: 2px;
}

img {
	max-width: 100%;
}

main#index {
	background: url("./assets/earthglobe.png") center top no-repeat;
	background-size: 700px;
	margin-top: 1em;
}

ol,
ul {
	list-style-position: inside;
	padding: 0;
}

ol li,
ul li {
	margin-bottom: 0.75em;
}

p {
	line-height: 1.35em;
}

section,
.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 770px;
	padding-left: 1em;
	padding-right: 1em;
}

#about {
	display: flex;
	justify-content: space-between;
	padding: 2em 0;
}

#about h2 {
	margin: 0;
	text-align: left;
	width: 40%;
}

#about .description {
	color: white;
	line-height: 1.5em;
	margin: 0;
	width: 50%;
}

#contact-form {
	background: var(--color-cyan);
	box-sizing: border-box;
	display: flex;
	padding: 2em;
}

#contact-form input,
#contact-form textarea {
	box-sizing: border-box;
	display: block;
	margin: 0 0 1em;
}

#contact-form input[type=text] {
	width: 60%;
}

#contact-form input[type=email],
#contact-form input[type=submit] {
	width: 36%;
}

#contact-form textarea {
	height: 6em;
	width: 60%;
}

#contact-form form {
	align-items: flex-start;
	display: flex;
	flex: 4;
	flex-wrap: wrap;
	justify-content: space-between;
}

#contact-form .instructions {
	flex: 1;
	font-size: 9pt;
	margin-right: 3em;
}

#contact-form .instructions p:first-child {
	margin-top: 0;
}

#features {
	display: flex;
}

#features aside {
	font-size: 9pt;
	font-style: italic;
	font-weight: normal;
	margin-top: 4em;
}

#features em {
	color: var(--color-blue);
}

#features .description,
#features .features {
	background: var(--color-magenta);
	box-sizing: border-box;
	font-weight: bold;
	padding: 2em;
	width: 50%;
}

#features .description h3 {
	margin-bottom: 0.5em;
}

#features .description p {
	color: white;
	margin: 1em 0 4em;
}

#features .description p:last-child {
	margin-bottom: 1em;
}

#features .features {
	background: white;
}

#plan {
	margin-bottom: 2em;
}

#plan h3 {
	color: var(--color-blue);
	margin-bottom: 0.5em;
}

#plan h4 {
	margin-bottom: 0.5em;
}

#plan .disclaimer {
	background: var(--color-blue);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
	font-size: 7pt;
	font-style: italic;
	padding: 2em 3em 3em;
	text-align: right
}

#plan .disclaimer em {
	color: white;
	font-weight: bold;
}

#plan .plan-section {
	border-right: 2px solid var(--color-blue);
	padding: 0 2em;
	width: 25%;
}

#plan .plan-section:last-child {
	border-right: 0;
}

#plan .plan-sections {
	background: white;
	display: flex;
	padding: 2em 0;
}

#promo {
	background: white;
}

#promo .promo {
	display: flex;
}

#promo .promo .image {
	background: none center center no-repeat;
	background-size: cover;
	width: 72%;
}

#promo .promo .image.group-editing {
	background-image: url("./assets/klippene.gif");
}

#promo .promo .image.predictable-results {
	background-image: url("./assets/tyne.PNG");
}

#promo .promo .image.unique-models {
	background-image: url("./assets/testenings9.gif");
}

#promo .promo .image:first-child {
	margin-right: -12%;
}

#promo .promo .image:last-child {
	margin-left: -12%;
}

#promo .promo .text {
	padding: 2em;
	width:  40%;
}

#promo .promo.blue .text {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
	padding-left: calc(2em + 10%);
}

#promo .promo.green .text,
#promo .promo.red .text {
	clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
	padding-right: calc(2em + 10%);
}

#promo .promo .text p {
	font-weight: bold;
}

#promo .promo.blue .text {
	background: var(--color-blue);
}

#promo .promo.green .text {
	background: var(--color-cyan);
}

#promo .promo.red .text {
	background: var(--color-magenta);
}

#promo .video {
	display: flex;
	padding: 2em;
}

#promo .video .text {
	flex: 1;
	margin-left: 2em;
}

#promo .video .video-container {
	flex: 2;
	position: relative;
	overflow: hidden;
	width: 100%;
}

#promo .video .video-container::after {
	display: block;
	content: "";
	padding-top: 56.25%;
}

#promo .video .video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#signup {
	position: relative;
	text-align: center;
}

#signup::after {
	background: url("./assets/sparkle.svg") center center no-repeat;
	background-size: contain;
	content: "";
	height: 40px;
	position: absolute;
	left: 50%;
	margin-left: -320px;
	top: 4px;
	width: 40px;
	z-index: 5;
}

#signup h2 {
	background: white;
	clip-path: polygon(0 14%, 100% 0, 77% 100%, 19% 99%);
	color: black;
	margin: 0 auto;
	padding: 1em 0;
	width: 600px;
}

#signup .signup-form {
	margin-top: -2em;
}

#splash {
	padding-bottom: 2em;
	padding-top: 3em;
	position: relative;
	text-align: center;
}

#splash::after {
	background: url("./assets/sparkle.png") center center no-repeat;
	background-size: contain;
	content: "";
	height: 40px;
	position: absolute;
	right: 50%;
	margin-right: -165px;
	top: 25px;
	width: 40px;
	z-index: 5;
}

#splash h2 {
	background: white;
	color: black;
	clip-path: polygon(18% 10%, 89% 0, 100% 100%, 0 87%);
	font-size: 28pt;
	margin: 0 auto;
	padding: 0.5em 0 0.7em;
	position: relative;
	width: 370px;
	z-index: 3;
}

#splash h2 em {
	background: var(--color-cyan);
	color: black;
	clip-path: polygon(31% 0, 100% 9%, 77% 100%, 0 70%);
	margin: -0.45em;
	padding: 0.1em 0.5em 0.2em 1em;
}

#splash .signup-form {
	margin-top: -2.5em;
	position: relative;
	z-index: 2;
}

#splash .description {
	background: var(--color-grey);
	clip-path: polygon(0 17%, 86% 0, 100% 100%, 8% 78%);
	color: white;
	font-size: 10pt;
	margin: -3em auto 0;
	padding: 3em 5em;
	position: relative;
	width: 300px;
	z-index: 1;
}

#splash .description h3 {
	color: var(--color-cyan);
	display: block;
	font-size: 12pt;
	margin: 0.15em;
}

#splash .description p {
	margin: 0.25em;
}

#team {
	display: flex;
	font-size: 9pt;
}

#team h3 {
	font-size: 13pt;
}

#team h4 {
	font-size: 10pt;
}

#team .description,
#team .profile {
	box-sizing: border-box;
	width: 25%;
}

#team .description {
	background: var(--color-blue);
	padding: 2em;
}

#team .description h3 {
	margin-bottom: 2em;
}

#team .profile {
	background: white;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#team .profile h3 {
	width: 50%;
}

#team .profile img {
	display: block;
}

#team .profile:last-child {
	border-right: 0;
}

#team .profile-content {
	padding: 2em;
}

.signup-form {
	background: var(--color-blue);
	clip-path: polygon(0 0, 100% 27%, 94% 91%, 9% 100%);
	margin: 0 auto;
	padding: 3.5em 4em 2em;
	width: 520px;
}

.signup-form input {
	display: block;
	flex: 3;
	margin: 0 0.5em;
}

.signup-form input[type=submit] {
	flex: 2;
}

.signup-form .form-content {
	display: flex;
}

.sr-only {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

@media (max-width: 640px) {
	h2,
	h2.container {
		font-size: 18pt;
		padding: 0 1em;
	}

	header {
		padding: 0 2em;
	}

	header h1 {
		margin: 0;
	}

	header nav span {
		margin: 0;
	}

	header #logo {
		display: none;
	}

	section,
	.container {
		padding-left: 0;
		padding-right: 0;
	}

	#about {
		display: block;
		padding: 0;
	}

	#about h2 {
		width: auto;
		margin: 1.25em 1.25em 0;
		padding: 0;
	}

	#about .description {
		margin: 1em 2em 3em;
		width: auto;
	}

	#contact-form,
	#contact-form form {
		display: block;
	}

	#contact-form input[type=email],
	#contact-form input[type=text],
	#contact-form textarea {
		width: 100%;
	}

	#contact-form input[type=submit] {
		margin: 0 auto;
		width: auto;
	}

	#contact-form .instructions {
		margin: 0 0 3em;
	}

	#features {
		display: block;
	}

	#features .description,
	#features .features {
		width: auto;
	}

	#plan .plan-section {
		border-bottom: 2px solid var(--color-grey);
		border-right: 0;
		padding: 2em;
		width: auto;
	}

	#plan .plan-section:last-child {
		border-bottom: 0;
	}

	#plan .plan-sections {
		display: block;
		padding: 0;
	}

	#promo .promo {
		display: block;
	}

	#promo .promo .image {
		display: none;
	}

	#promo .promo .text {
		margin-top: -2em;
		width: auto;
	}

	#promo .promo.blue .text {
		clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
		padding: 3em 2em;
	}

	#promo .promo.green .text {
		clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
		padding: 3em 2em 2em;
	}

	#promo .promo.red .text {
		clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
		padding: 3em 2em;
	}

	#promo .video {
		display: block;
		padding: 0;
	}

	#promo .video .text {
		margin: 0;
		padding: 2em;
	}

	#signup h2 {
		clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 80%);
		margin-bottom: -2em;
		position: relative;
		width: auto;
		z-index: 2;
	}

	#signup::after {
		display: none;
	}

	#splash {
		padding-bottom: 0;
	}

	#splash .description {
		clip-path: none;
		margin-top: -1em;
		padding: 2em 0 1em;
		width: auto;
	}

	#team {
		display: block;
		font-size: 11pt;
	}

	#team .description,
	#team .profile {
		border-right: 0;
		width: auto;
	}

	#team .profile h3 {
		width: auto;
	}

	.signup-form {
		clip-path: polygon(0 0, 100% 16%, 100% 95%, 0 100%);
		padding: 3.5em 0 0.5em;
		width: 100%;
	}

	.signup-form input {
		margin: 1em auto;
	}

	.signup-form input[type=email],
	.signup-form input[type=text] {
		width: 80%;
	}

	.signup-form .form-content {
		display: block;
	}
}
