/*
Bakgrunn: #1b212c
Cyan: 
Magenta: 
Blå: 
*/

:root {
	--color-blue: #0066f9;
	--color-blue-light: #57b9f3;
	--color-cyan: #00f5d4;
	--color-grey: #1b212c;
	--color-magenta: #f15bb5;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	background: var(--color-grey);
	color: black;
	font-family: "Montserrat", sans-serif;
	margin: 0;
	padding: 0;
}

footer {
	color: white;
	font-size: 8pt;
	margin: 2em 0;
	text-align: center;
}

footer a {
	font-weight: bold;
}

footer em {
	color: var(--color-magenta);
}

h2 {
	color: white;
	font-size: 28pt;
	font-style: italic;
	text-align: center;
}

h2 a {
	color: var(--color-blue-light);
}

h2 em {
	color: var(--color-cyan);
}

header {
	background: white;
}

header h1 {
	margin: 0 0 0 0.5em;
}

header h1 em {
	color: var(--color-blue-light);
}

header nav {
	align-items: center;
	display: flex;
	font-weight: bold;
	position: relative;
}

header nav a {
	display: block;
}

header nav span {
	background: var(--color-magenta);
	clip-path: polygon(70% 0%, 90% 0%, 30% 100%, 10% 100%);
	display: block;
	height: 64px;
	margin: 0 1em;
	width: 34px;
}

header #home-link {
	align-items: center;
	display: flex;
}

header #logo {
	height: 52px;
	width: 52px;
}

header .container {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

section,
.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 770px;
	padding-left: 1em;
	padding-right: 1em;
}

#signup {
	text-align: center;
}

#splash {
	margin-bottom: 3em;
	margin-top: 4em;
	text-align: center;
}

#splash h2 {
	background: white;
	color: black;
	clip-path: polygon(18% 10%, 89% 0, 100% 100%, 0 87%);
	margin: 0 auto;
	padding: 0.5em 0 0.7em;
	position: relative;
	width: 370px;
	z-index: 3;
}

#splash h2 em {
	background: var(--color-cyan);
	color: black;
	clip-path: polygon(31% 0, 100% 9%, 77% 100%, 0 70%);
	margin: -0.45em;
	padding: 0.1em 0.5em 0.2em 1em;
}

#splash .signup-form {
	margin-top: -2.5em;
	position: relative;
	z-index: 2;
}

#splash .description {
	background: var(--color-grey);
	clip-path: polygon(0 17%, 86% 0, 100% 100%, 8% 78%);
	color: white;
	font-size: 10pt;
	margin: -3em auto 0;
	padding: 3em 5em;
	position: relative;
	width: 300px;
	z-index: 1;
}

#splash .description em {
	color: var(--color-cyan);
	display: block;
	font-size: 12pt;
	font-weight: bold;
}

.signup-form {
	background: var(--color-blue-light);
	clip-path: polygon(0 0, 100% 27%, 94% 91%, 9% 100%);
	margin: 0 auto;
	padding: 3.5em 0 2em;
	width: 550px;
}

@media (max-width: 420px) {
	header h1 {
		margin: 0;
	}

	header nav span {
		margin: 0;
	}

	header #logo {
		display: none;
	}
}
